.hero {
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    padding-top: 73px;
    background-image: linear-gradient(#0000009d, #0000009d), url("../src/assets/images/servicios-bm.webp"); 
    background-position: center;
    background-size: cover;
    margin-top: 20px;
}

.hero h2 {
    font-size: 3.5em;
    color: #fff;
    text-align: center;
    font-style: normal;
    font-weight: lighter;
}

.hero p {
    color: var(--shadow-text);
    width: 30%;
    line-height: 25px;
}

.hero__btn {
    font-size: .9em;
    text-decoration: none;
    padding: 8px 12px;
    background-color: transparent;
    color: #fff;
    border: 1px solid transparent; 
    background-color: #417ebb;
    outline: none;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.235);
    transition: .2s;
    cursor: pointer;
}

.hero__btn:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.235);
    border: 1px solid #fff;
    background-color: #fff;
    color: #417ebb;
}

.skewed {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background: #417ebb;
    z-index: -10;
    transform: skewY(0deg);
    transform-origin: top right;
  }