* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --color-hover: #0469d5; /* Color de hover */
  --background-card-color: #f4f4f4; /* Color del backgroud de las car-cads y filters*/
  --lineargradient-container: linear-gradient(rgba(4, 0, 37, 0.8), rgba(4, 0, 46, 0.8));
  --shadow-text: #bab9b9;; 
}
