#experience {
    display: flex;
    justify-content: center;
    text-align: center;
    height: auto;
    border-bottom: 3px solid var(--color-azul);
    border-top: 3px solid var(--color-azul);
}

.stats-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}


.stat {
    text-align: center;
    margin: 60px 0;
    max-width: 250px;
    padding-top: 20px;
}

.border-number {
    display: flex;
    align-items: center;
    margin: auto;
    border: 3px solid var(--color-azul);
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.number {
    font-size: 2rem;
    color: #000;
    margin: 5px auto 0;
}

.stat p {
    margin-top: 10px;
    font-size: 1.8em;
      color: var(--color-azul);
    line-height: 1.2;
}

.stat p:nth-child(2) {
    font-size: 1.5em;
    font-weight: 600;
}
@media  screen and (max-width: 768px) {


    .stat {
        padding: 0;
        margin: 40px 0;
    }

    .stat p:nth-child(1) {
        font-size: 1.4em;
    }

    .stat p:nth-child(2) {
        font-size: 1.4em;
        margin-top: 15px;
    }
}
