.instagram-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
    bottom: 90px;
    right: 25px;
    height: 3.6em;
    min-width: 3.6em;
    background: #FF7A00;
    color: inherit;
    border-radius: 50%;
    box-shadow: 1px 6px 24px rgba(7, 94, 84, .24);
    cursor: pointer;
    transition: background 0.2s;
}

.instagram-container a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.instagram-container i {
    margin-top: 3px;
    color: #fff;
    font-size: 3em;
}

.instagram-container:hover {
    background: #c35f01;
}
