.whatsapp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
    bottom: 25px;
    right: 25px;
    height: 3.6em;
    min-width: 3.6em;
    background: #25d366;
    color: inherit;
    border-radius: 50%;
    box-shadow: 1px 6px 24px 0 rgba(7, 94, 84, .24);
    cursor: pointer;
    transition: background-color .2s;
}

.whatsapp-container a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.whatsapp-container img {
    color: #fff;
    height: 40px;
}

.whatsapp-container:hover {
    background-color: #0d8f3d;
}